<div class="routing-control">
  <div>
  {{#each waypoints as waypoint, i}}
    <Marker
      map={{map}}
      lngLat={{waypoint.lngLat}}
      dragging={{draggedWaypoint === waypoint}}
      on:drag='dragWaypoint(event, i, true)'
      on:dragend='dragWaypoint(event, i)' />
    <Geocoder
      waypoint={{waypoint}}
      geocoder={{geocoder}}
      on:geocoded='setWaypoint(i, event.data)'
      on:reversegeocoded='setWaypoint(i, event.data)'/>
  {{/each}}
  </div>
  <div>
    {{#each routes as route}}
      <RouteLine
        map={{map}}
        route={{route}}
        selected={{route === selectedRoute}}
        on:selected='selectRoute(route)'
        on:dragging='addDraggingWaypoint(event.afterWpIndex, event.lngLat)'/>
      <Itinerary
        route={{route}}
        selected={{route === selectedRoute}}
        on:selected='selectRoute(route)' />
    {{/each}}
  </div>
</div>

<script>
  import Marker from './Marker.html'
  import Geocoder from './Geocoder.html'
  import RouteLine from './RouteLine.html'
  import Itinerary from './Itinerary.html'
  import Waypoint from '../waypoint'

  export default {
    oncreate () {
      this.observe('waypoints', waypoints => {
        this.lastRouteTimestamp = +new Date()
        this.get('router').route(waypoints, this.routeReceived.bind(this))
      })
    },

    data () {
      return {
        routes: [],
        draggedWaypoint: null
      }
    },

    methods: {
      routeReceived (err, routes) {
        if (err) {
          // TODO: error handling
          console.error(err)
          return
        }

        this.set({routes, selectedRoute: routes[0]})
      },
      dragWaypoint (e, i, dragging) {
        if (this.routeDebounce) {
          clearTimeout(this.routeDebounce)
        }
        var now = +new Date()
        var firstNextRun = (this.lastRouteTimestamp || now) + 250
        var timeout = dragging ? Math.max(0, firstNextRun - now) : 0
        this.routeDebounce = setTimeout(() => {
          const waypoints = this.get('waypoints')
          waypoints[i].lngLat = e.lngLat
          if (!dragging) {
            waypoints[i].name = null
          }
          this.set({waypoints, draggedWaypoint: null})
        }, dragging ? timeout : 0)
      },
      selectRoute (route) {
        this.set({selectedRoute: route})
      },
      setWaypoint (i, data) {
        const waypoints = this.get('waypoints')
        Object.assign(waypoints[i], data)
        this.set({waypoints})
      },
      addDraggingWaypoint (afterWpIndex, lngLat) {
        const waypoints = this.get('waypoints')
        const waypoint = new Waypoint(lngLat)
        waypoints.splice(afterWpIndex + 1, 0, waypoint)
        this.set({waypoints, draggedWaypoint: waypoint})
      }
    },

    components: {
      Marker,
      Geocoder,
      RouteLine,
      Itinerary
    }
  }
</script>

<style>
  .routing-control {
    transition: "width, height, font-size" 0.25s ease-out;

    background-color: white;
    color: #444;
    padding: 0.25em 0.75em;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
  }

  .routing-control h1 {
    font-size: 100%;
    clear: none;
    display: inline-block;
  }

  .routing-control h1 a {
    text-decoration: none;
    color: inherit;
  }

  .routing-route-summary {
    float: right;
    margin: 0.83em;
  }
</style>