<div></div>

<script>
  import L from 'leaflet'

  export default {
    oncreate () {
      this.observe('route', route => {
        var latLngs = route.coordinates.map(c => L.latLng(c[1], c[0]))

        if (!this.line) {
          this.line = 
            L.polyline(latLngs, this.get('style'))
            .on('click', () => this.fire('selected'))
            .on('mousedown', e => this.get('selected') && this.startDrag(e))
            .addTo(this.get('map'))
        } else {
          this.line.setLatLngs(latLngs)
        }
      })
      this.observe('selected', selected => {
        if (this.line) {
          this.line.setStyle(this.get('style'))
        }
      })
    },

    ondestroy () {
      if (this.line) {
        this.get('map').removeLayer(this.line)
      }
    },

    computed: {
      style: selected => ({
        weight: selected ? 9 : 6,
        opacity: selected ? 1 : 0.5
      })
    },

    methods: {
      startDrag (e) {
        const map = this.get('map')
        const cleanup = () => {
          map
            .off('mouseup', cleanup)
            .off('mousemove', dragging)
        }
        const dragging = () => {
          cleanup()

          const route = this.get('route')
          const bestMatch = route.coordinates.reduce((a, c, i) => {
            if (i === route.waypointIndices[a.nextWpIndex]) {
              a.nextWpIndex++
            }

            // Euclidean math in lat/lng space because what could possibly go wrong?
            const d = Math.hypot(c[0] - e.latlng.lng, c[1] - e.latlng.lat)
            if (d < a.minDist) {
              a.wpIndex = a.nextWpIndex - 1
              a.index = i
              a.minDist = d
            }

            return a
          }, {nextWpIndex: 0, wpIndex: -1, minDist: 1e9})

          if (bestMatch.wpIndex >= 0) {
            this.fire('dragging', {
              afterWpIndex: bestMatch.wpIndex,
              lngLat: route.coordinates[bestMatch.index]
            })
          } else {
            console.warn('Did not find a matching line point / waypoint')
          }

          L.DomEvent.stop(e)
        }

        map
          .once('mouseup', cleanup)
          .on('mousemove', dragging)
      },
    }
  }
</script>